* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /* this represent 16px = 1rem */
    /* font-size: 100%; */
    /* 10 / 16 = 0.625, 0.625 x 100 = 62.5% */
    font-size: 62.5%;
}

/* 632px, 740px, 1024px, 1280px */

@media (max-width:1280px) {
    html {
        font-size: 50%;
    }

}

body {
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
}


.logo-wrapper {
    display: flex;
    gap: 5px;
    align-items: center;
}

.header-container {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    border-bottom: 1px solid #e5e7eb;
}

.nav-items {
    list-style: none;
    display: flex;
    gap: 2rem;
}

@media (max-width:700px) {
    .nav-items {
        display: none;
    }

}

.nav-item a {
    text-decoration: none;
    color: #6b726b80;
}

.logo-icon {
    color: #16a34a;
    font-size: 3rem;
}

.primary-btn {
    background-color: #16a34a;
    text-decoration: none;
    color: #ffffff;
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 5px;
}

.hero-container {
    padding: 5rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.hero-contents {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    flex-basis: 50%;

}

.hero-text-tag {
    background-color: #e5e7eb;
    color: #6b7280;
    width: fit-content;
    padding: 2px 1rem;
    border-radius: 20px;
}

.hero-heading {
    font-size: 5rem;
}

@media (max-width:900px) {
    .hero-heading {
        font-size: 3rem;
    }
}

.hero-paragraph {
    color: #6b7280;
}

.hero-lists {
    list-style: none;
    color: #6b7280;
}

.hero-list {
    display: flex;
    align-items: center;
    gap: 5px;
}

.hero-list i {
    color: #16a34a;
}

.outlined-btn {
    text-decoration: none;
    color: #000000;
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 7px; 
    border: 1px solid #e5e7eb;
}

.hero-btn-wrapper {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}

.hero-image {
    width: 50rem;
    height: 40rem;
    border-radius: 1rem;
}

@media (max-width:900px) {
    .hero-image {
        width: 40rem;
        height: 30rem;

    }
}

@media (max-width:700px) {
    .hero-image-wrapper {
        display: none;

    }
    .hero-contents {
        flex-basis: 100%;
    }
}

.how-it-works {
    background-color: #e2f2f2;
    padding: 5rem 2rem;
}

.how-it-works-title {
    text-align: center;
}

.how-it-works-title h3 {
    font-size: 3.2rem;
    font-weight: 500;
}

.how-it-works-title p {
    color: #6b7280;
}

.how-it-works-cards {
    display: flex;
    gap: 3rem;
    margin-top: 4rem;
}

@media (max-width:640px) {
    .how-it-works-cards {
        flex-direction: column;
    }
}

.how-it-works-card {
    background-color: #ffffff;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    border-radius: 1rem;
}

.how-it-works-card h4 {
    font-weight: 600;
    font-size: 3.2rem;
}

.how-it-works-card p {
    color: #6b7280;
}

.card-icon {
    display: flex;
    background-color: #e2f2f2;
    width: 3.2rem;
    height: 3.2rem;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: #16a34a;
}

.everything-you-need {
    padding: 5rem 2rem;
}

.everything-you-need-cards {
    display: flex;
    gap: 3rem;
    margin-top: 4rem;
}

@media (max-width:640px) {
    .everything-you-need-cards {
        flex-direction: column;
    }
}

.everything-you-need-card {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    border-radius: 8px;
    border: 1px solid #e5e7eb;
}

.everything-you-need-title {
    text-align: center;
}

.everything-you-need-title h3 {
    font-size: 3.2rem;
    font-weight: 500;
}

.everything-you-need-title p {
    color: #6b7280;
}

.everything-you-need-card h4 {
    font-weight: 500;
    font-size: 2rem;
}

.everything-you-need-card p {
    color: #6b7280;
}

.everything-you-need-card ul {
    color: #6b7280;
    list-style: none;
}

.simplify-groceries-container {
    background-color: #e2f2f2;
    padding: 5rem 2rem;
}

.simplify-groceries-wrapper {
    background-color: #16a34a;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 2rem;
    padding: 5rem;
    color: #ffffff;
    border-radius: 5px;
}

.simply-groceries-text {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.simply-groceries-text h3 {
    font-size: 32px;
    font-weight: 500;
}

.simplify-groceries-text p {
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 0.8);
}

.groceries-btn {
    text-decoration: none;
    color: #000000;
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 7px;
    background-color: #ffffff;
}

.footer-container {
    padding: 5rem 2rem;
}

.footer-content-wrapper {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #e5e7eb;
    flex-wrap: wrap;
}

.footer-content-wrapper p {
    color: #6b7280;
    margin-top: 2rem;
    font-size: 1.4rem;
}

